<?xml version="1.0" encoding="utf-8" ?>
<!--
Git: https://github.com/ClaudiaCoord/Audio-7.1-Multi-Channel-Mixer-8
Copyright (c) 2022 СС
License MIT.
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MCM8.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MCM8.Properties.Settings>
            <setting name="AsioOutName" serializeAs="String">
                <value />
            </setting>
            <setting name="AsioOutChannel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="JsonInputDevices" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultRate" serializeAs="String">
                <value>48000</value>
            </setting>
            <setting name="DefaultBits" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="DefaultChannels" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="JsonPlayLists" serializeAs="String">
                <value />
            </setting>
        </MCM8.Properties.Settings>
    </userSettings>
</configuration>